# Eclipse
.metadata/
.settings/
.classpath
.project

# VS Code
.vscode/

# IntelliJ IDEA
.idea/

# Maven build files
target/

# Tomcat server configuration
Servers/

# macOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.temp
